body {
    background-color: #f6f4f0;
  }

  .logo {
    width: 300px; 
    height: auto;
    cursor: pointer;
    align-items: center;
  }

*{
    margin: 0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    outline: none; border:none;
    text-transform: capitalize;
    color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  gap: 20px;
}

.navbar {
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.cart-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.heart-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}